## Proyecto Individual I
Presentado por: Maria Isabel Arango M.
##
marango@ex-fin.com

In [2]:
# Librerias Necesarias

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set
import warnings
warnings.filterwarnings('ignore')
import ast
import datetime as dt

In [3]:
#Cargar la Data
data_movies = pd.read_csv('./Movies/movies_dataset.csv')
data_credits = pd.read_csv('./Movies/Credits.csv')

# Analisis Exploratorio de los Datos (data_movies) Inicial:

**Información del Dataset**

In [4]:
data_movies.info()      #Consulo la información del dataset movies

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [5]:
data_movies.describe()

            revenue       runtime  vote_average    vote_count
count  4.546000e+04  45203.000000  45460.000000  45460.000000
mean   1.120935e+07     94.128199      5.618207    109.897338
std    6.433225e+07     38.407810      1.924216    491.310374
min    0.000000e+00      0.000000      0.000000      0.000000
25%    0.000000e+00     85.000000      5.000000      3.000000
50%    0.000000e+00     95.000000      6.000000     10.000000
75%    0.000000e+00    107.000000      6.800000     34.000000
max    2.787965e+09   1256.000000     10.000000  14075.000000

In [6]:
data_movies.head(10)      #Veo las primeras 10 filas de la información

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
5,False,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,1995-12-15,187436818.0,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0
6,False,NaN,58000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,...,1995-12-15,0.0,127.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0
7,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,45325,tt0112302,en,Tom and Huck,"A mischievous young boy, Tom Sawyer, witnesses...",...,1995-12-22,0.0,97.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Original Bad Boys.,Tom and Huck,False,5.4,45.0
8,False,NaN,35000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9091,tt0114576,en,Sudden Death,International action superstar Jean Claude Van...,...,1995-12-22,64350171.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Terror goes into overtime.,Sudden Death,False,5.5,174.0
9,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,...,1995-11-16,352194034.0,130.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194.0

**Limpieza y transformación de los datos**

Verifico si tengo filas duplicadas y las borro.

In [7]:
print('El set tiene :',data_movies.duplicated().sum(),' filas duplicadas')
data_movies = data_movies.drop_duplicates()
print('Las filas duplicadas han sido eliminadas')

El set tiene : 13  filas duplicadas
Las filas duplicadas han sido eliminadas

Elimino las columnas que no serán utilizadas, video,imdb_id,adult,original_title,poster_path y homepage.

In [8]:
# Elimino las columnas que no serán utilizadas:
data_movies = data_movies.drop(columns=['video','imdb_id','adult','original_title','poster_path','homepage'])

Desanido las columnas: belongs_to_colecction, production_countries, production_companies y spoken_lenguajes

In [9]:
#Imprimo el 1er elemento de las columnas anidada para verificar sus formatos.
print(data_movies['belongs_to_collection'][0])
print(data_movies['production_companies'][0])
print(data_movies['production_countries'][0])
print(data_movies['spoken_languages'][0])
print(data_movies['genres'][0])

{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}
[{'name': 'Pixar Animation Studios', 'id': 3}]
[{'iso_3166_1': 'US', 'name': 'United States of America'}]
[{'iso_639_1': 'en', 'name': 'English'}]
[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]

In [10]:
#La columna belongs_to_collection tiene un formato diferente a las otras, por lo que debo hacer un procedimiento para esta y otro para las demas

In [11]:
#DESANIDAR belonds_to_collection:

# Creo una función para convertir las lineas de texto (string) en un objeto diccionario
def convertir(val):
    if pd.isna(val):                        #Verifico si es NaN y dejo el mismo valor
        return val
    try:
        return ast.literal_eval(val)        #Convierto el valor en una diccionario (objeto)
    except (ValueError, SyntaxError):
        return val

In [12]:
#Extraigo la información de la columna "belongs_to_collection"

data_movies['belongs_to_collection'] = data_movies['belongs_to_collection'].apply(convertir)  #Aplico la funcion safe_literal_eva a las columnas anidadas
columnas_df = pd.json_normalize(data_movies['belongs_to_collection'])                       #Normalizo y añado las columnas a un dataframe
columnas_df.columns = [f'belongs_to_collection_{col}' for col in columnas_df.columns]   #renombro las columnas
data_movies = data_movies.join(columnas_df, how='left')  #Añado las nuevas columnas al dataframe y borro la original

In [13]:
# Elimino las columnas que tienen muchos datos faltantes:
data_movies = data_movies.drop(columns=['belongs_to_collection_backdrop_path','belongs_to_collection_poster_path','belongs_to_collection'])

In [14]:
#DESANIDAR: spoken:lenguages, production_companies y production_countries
#Elimino las filas con valores NaN en las columnas a desanidar

data_movies = data_movies.dropna(axis=0, subset=['spoken_languages'])
data_movies = data_movies.dropna(axis=0, subset=['production_companies'])
data_movies = data_movies.dropna(axis=0, subset=['production_countries'])
data_movies = data_movies.dropna(axis=0, subset=['genres'])

In [15]:
#Valores unicos de la columna spoken_lenguages
data_movies['spoken_languages'].unique()

array(["[{'iso_639_1': 'en', 'name': 'English'}]",
       "[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'fr', 'name': 'Français'}]",
       "[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'es', 'name': 'Español'}]",
       ...,
       "[{'iso_639_1': 'sv', 'name': 'svenska'}, {'iso_639_1': 'de', 'name': 'Deutsch'}]",
       "[{'iso_639_1': 'ar', 'name': 'العربية'}, {'iso_639_1': 'pl', 'name': 'Polski'}]",
       "[{'iso_639_1': 'ff', 'name': 'Fulfulde'}, {'iso_639_1': 'en', 'name': 'English'}]"],
      dtype=object)

In [16]:
# convierto la información de las columnas anidadas de str a lista de diccionarios

data_movies['spoken_languages'] = data_movies['spoken_languages'].apply(ast.literal_eval)
data_movies['production_companies'] = data_movies['production_companies'].apply(ast.literal_eval)
data_movies['production_countries'] = data_movies['production_countries'].apply(ast.literal_eval)
data_movies['genres'] = data_movies['genres'].apply(ast.literal_eval)

In [17]:
# Función para extraer en dos columnas la información de los dos idiomas
def extraer(l):
    if len(l) > 0:
        spoken_languages_1_iso = l[0].get('iso_639_1')
        spoken_languages_1_name = l[0].get('name')
    else:
        spoken_languages_1_iso = None
        spoken_languages_1_name = None
    
    if len(l) > 1:
        spoken_languages_2_iso = l[1].get('iso_639_1')
        spoken_languages_2_name = l[1].get('name')
    else:
        spoken_languages_2_iso = None
        spoken_languages_2_name = None
    return pd.Series([spoken_languages_1_iso, spoken_languages_1_name, spoken_languages_2_iso, spoken_languages_2_name])

data_movies[['spoken_languages_1_iso','spoken_languaje_1_name', 'spoken_languages_2_iso','spoken_languages_2_name']] = data_movies['spoken_languages'].apply(extraer)  #aplico la funcion extraer a la columna spoken_lenguajes

In [18]:
#Elimino la columna spoken_languages_2 por que tiene muy pocos datos
data_movies = data_movies.drop(axis=1,columns=['spoken_languages','spoken_languages_2_iso','spoken_languages_2_name'])

In [19]:
# Función para extraer en dos columnas la información de las compañias de producción
def extraer_2(companies):
    if len(companies) > 0:          
        production_companies_1_name = companies[0].get('name')
        production_companies_1_id = companies[0].get('id')
    else:
        production_companies_1_name = None
        production_companies_1_id= None

    if len(companies) > 1:
        production_companies_2_name= companies[1].get('name')
        production_companies_2_id = companies[1].get('id')
    else:
        production_companies_2_name = None
        production_companies_2_id= None
        
    if len(companies) > 2:
        production_companies_3_name= companies[2].get('name')
        production_companies_3_id = companies[2].get('id')
    else:
        production_companies_3_name = None
        production_companies_3_id= None

    return pd.Series([production_companies_1_name, 
                      production_companies_1_id, 
                      production_companies_2_name, 
                      production_companies_2_id,
                      production_companies_3_name,
                      production_companies_3_id])

#aplico la funcion extraer la información

data_movies[['production_companies_1_name',
             'production_companies_1_id',
             'production_companies_2_name',
             'production_companies_2_id',
             'production_companies_3_name',
             'production_companies_3_id']] = data_movies['production_companies'].apply(extraer_2)

In [20]:
#Elimino la columnas que tiene muy pocos datos y la columna original
data_movies = data_movies.drop(axis=1,columns=['production_companies','production_companies_3_name','production_companies_3_id'])

In [21]:
# Función para extraer en dos columnas la información de los paises de producción
def extraer_3(countries):
    if len(countries) > 0:          
        production_countries_1_iso = countries[0].get('iso_3166_1')
        production_countries_1_name = countries[0].get('name')
    else:
        production_countries_1_iso = None
        production_countries_1_name = None

    if len(countries) > 1:          
        production_countries_2_iso = countries[0].get('iso_3166_1')
        production_countries_2_name = countries[0].get('name')
    else:
        production_countries_2_iso = None
        production_countries_2_name = None
        
    return pd.Series([production_countries_1_iso,
                      production_countries_1_name,
                      production_countries_2_iso,
                      production_countries_2_name])

#aplico la funcion extraer la información

data_movies[['production_countries_1_iso',
            'production_countries_1_name',
            'production_countries_2_iso',
            'production_countries_2_name']] = data_movies['production_countries'].apply(extraer_3)

In [22]:
#Elimino la columnas que tienen muy pocos datos y la original
data_movies = data_movies.drop(axis=1,columns=['production_countries','production_countries_2_name','production_countries_2_iso'])

In [23]:
print(data_movies['genres'][0])

[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]

In [24]:
# Función para extraer en dos columnas la información de los generos

def extraer_4(genero):
    if len(genero) > 0:          
        genres_1_id = genero[0].get('id')
        genres_1_name = genero[0].get('name')
    else:
        genres_1_id = None
        genres_1_name = None

    if len(genero) > 1:          
        genres_2_id = genero[0].get('id')
        genres_2_name = genero[0].get('name')
    else:
        genres_2_id = None
        genres_2_name = None
    
    if len(genero) > 2:          
        genres_3_id = genero[0].get('id')
        genres_3_name = genero[0].get('name')
    else:
        genres_3_id = None
        genres_3_name = None

    return pd.Series([genres_1_id,genres_1_name,
                      genres_2_id, genres_2_name,
                      genres_3_id, genres_3_name])

data_movies[['genres_1_id','genres_1_name',
            'genres_2_id','genres_2_name',
            'genres_3_id','genres_3_name']] = data_movies['genres'].apply(extraer_4)

In [25]:
print('Valores nulos en la columna genres_id_1: ',data_movies['genres_1_id'].isnull().sum())
print('Valores nulos en la columna genres_id_2: ',data_movies['genres_2_id'].isnull().sum())
print('Valores nulos en la columna genres_id_3: ',data_movies['genres_3_id'].isnull().sum())

Valores nulos en la columna genres_id_1:  2442
Valores nulos en la columna genres_id_2:  17000
Valores nulos en la columna genres_id_3:  31472

In [26]:
#Elimino la columna original
data_movies = data_movies.drop(axis=1,columns=['genres'])

Rellenar con 0 los valores nulos de los campos revenue, budget

In [27]:
#Las columnas no tienen Nulos

print('Cantidad de valores nulos en la columna budget: ',data_movies['budget'].isnull().sum())
print('Cantidad de valores nulos en la columna revenue: ',data_movies['revenue'].isnull().sum())

Cantidad de valores nulos en la columna budget:  0
Cantidad de valores nulos en la columna revenue:  0

Eliminar valores nulos de Release Date

In [28]:
# Elimino los valores nulos de la columna release_date
data_movies = data_movies.dropna(axis=0, subset=['release_date'])

Cambiar fechas a formato AAAA-mm-dd y crear la columna release_year

In [29]:
#Verifico el tipo de realease date y veo que es un string
type(data_movies['release_date'][0])

str

In [30]:
#Convierto a Tipo datetime para poder extraer el año

#data_movies['release_date'] = pd.to_datetime(data_movies['release_date'])
data_movies['release_year'] = pd.to_datetime(data_movies['release_date']).dt.year

Crear columna retorno de inversión:

In [31]:
#Verifico el tipo de datos:
print('Los datos de la columna budget es tipo: ', type(data_movies['budget'][0]))
      
print('Los datos de la columna revenue es tipo: ',type(data_movies['revenue'][0]))

Los datos de la columna budget es tipo:  <class 'str'>
Los datos de la columna revenue es tipo:  <class 'numpy.float64'>

In [32]:
data_movies['budget'] = pd.to_numeric(data_movies['budget'])

In [33]:
def calculo_retorno(row):
    
    budget = row['budget']
    revenue = row['revenue']
    if budget == None or budget ==0:
        retorno = 0.0
    elif revenue == None or revenue==0:
        retorno =0.0
    else:
        retorno = (revenue - budget) / budget

    return retorno

def calculo_retorno_US(row):
    
    budget = row['budget']
    revenue = row['revenue']
    if budget == None or budget ==0:
        retorno = 0.0
    elif revenue == None or revenue==0:
        retorno =0.0
    else:
        retorno = (revenue - budget) 

    return retorno

In [34]:
data_movies['return'] = data_movies.apply(calculo_retorno,axis=1)
data_movies['retorno_US'] = data_movies.apply(calculo_retorno_US,axis=1)

In [35]:
data_movies['popularity'] = pd.to_numeric(data_movies['popularity'])

In [36]:
data_movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45363 entries, 0 to 45465
Data columns (total 32 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   budget                       45363 non-null  int64
 1   id                           45363 non-null  object
 2   original_language            45352 non-null  object
 3   overview                     44422 non-null  object
 4   popularity                   45363 non-null  float64
 5   release_date                 45363 non-null  object
 6   revenue                      45363 non-null  float64
 7   runtime                      45117 non-null  float64
 8   status                       45283 non-null  object
 9   tagline                      20394 non-null  object
 10  title                        45363 non-null  object
 11  vote_average                 45363 non-null  float64
 12  vote_count                   45363 non-null  float64
 13  belongs_to_collection_id     4483 non-null   float64
 14  belongs_to_collection_name   4483 non-null   object
 15  spoken_languages_1_iso       41597 non-null  object
 16  spoken_languaje_1_name       41597 non-null  object
 17  production_companies_1_name  33570 non-null  object
 18  production_companies_1_id    33570 non-null  float64
 19  production_companies_2_name  16996 non-null  object
 20  production_companies_2_id    16996 non-null  float64
 21  production_countries_1_iso   39154 non-null  object
 22  production_countries_1_name  39154 non-null  object
 23  genres_1_id                  42979 non-null  float64
 24  genres_1_name                42979 non-null  object
 25  genres_2_id                  28433 non-null  float64
 26  genres_2_name                28433 non-null  object
 27  genres_3_id                  13967 non-null  float64
 28  genres_3_name                13967 non-null  object
 29  release_year                 45363 non-null  int32
 30  return                       45363 non-null  float64
 31  retorno_US                   45363 non-null  float64
dtypes: float64(13), int32(1), int64(1), object(17)
memory usage: 12.3+ MB

In [37]:
# Función para limpiar las columnas string

Lista_columnas = ['title']


def limpiar_nombres(df, columnas):
    for col in columnas:
        if col in df.columns:
            df[col] = df[col].astype(str)  # Asegurarse de que los datos sean cadenas
            df[col] = df[col].str.lower()  # Convertir a minúsculas
            df[col] = df[col].str.strip()  # Eliminar espacios al principio y al final
            df[col] = df[col].str.replace(r'\s+', ' ', regex=True)  # Reemplazar múltiples espacios con un solo espacio

limpiar_nombres(data_movies,Lista_columnas)

In [38]:
#Verifico el tipo de datos id, como es str lo convierto a int.
type(data_movies['id'][0])

str

In [39]:
data_movies['id'] = data_movies['id'].astype(int)

# Analisis Exploratorio de los Datos (data_Credits) Inicial

**Información de Dataset**

**Limpieza y transformación de datos**

Filas Duplicadas

In [40]:
data_credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    45476 non-null  object
 1   crew    45476 non-null  object
 2   id      45476 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

In [58]:
data_credits.head()

,id,cast_name,cast_name_2,cast_name_3,cast_name_4,cast_name_5,cast_name_6,cast_name_7,cast_name_8,cast_name_9,cast_name_10,director
0,862,tom hanks,tim allen,don rickles,jim varney,wallace shawn,john ratzenberger,annie potts,john morris,erik von detten,laurie metcalf,john lasseter
1,8844,robin williams,jonathan hyde,kirsten dunst,bradley pierce,bonnie hunt,bebe neuwirth,david alan grier,patricia clarkson,adam hann-byrd,laura bell bundy,larry j. franco
2,15602,walter matthau,jack lemmon,ann-margret,sophia loren,daryl hannah,burgess meredith,kevin pollak,none,none,none,howard deutch
3,31357,whitney houston,angela bassett,loretta devine,lela rochon,gregory hines,dennis haysbert,michael beach,mykelti williamson,lamont johnson,wesley snipes,forest whitaker
4,11862,steve martin,diane keaton,martin short,kimberly williams-paisley,george newbern,kieran culkin,bd wong,peter michael goetz,kate mcgregor-stewart,jane adams,alan silvestri

In [41]:
print('El set tiene :',data_credits.duplicated().sum(),' filas duplicadas')
data_credits = data_credits.drop_duplicates()
print('Las filas duplicadas han sido eliminadas')

El set tiene : 37  filas duplicadas
Las filas duplicadas han sido eliminadas

In [42]:
#No tengo valores nulos

In [43]:
#Verifico la información de cada anidado
print(data_credits['cast'][0])
print('El campo cast anida ',len(data_credits['cast'][0]),' diccionarios')
print(data_credits['crew'][0])
print('El campo crew anida',len(data_credits['crew'][0]), ' diccionarios.')

[{'cast_id': 14, 'character': 'Woody (voice)', 'credit_id': '52fe4284c3a36847f8024f95', 'gender': 2, 'id': 31, 'name': 'Tom Hanks', 'order': 0, 'profile_path': '/pQFoyx7rp09CJTAb932F2g8Nlho.jpg'}, {'cast_id': 15, 'character': 'Buzz Lightyear (voice)', 'credit_id': '52fe4284c3a36847f8024f99', 'gender': 2, 'id': 12898, 'name': 'Tim Allen', 'order': 1, 'profile_path': '/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg'}, {'cast_id': 16, 'character': 'Mr. Potato Head (voice)', 'credit_id': '52fe4284c3a36847f8024f9d', 'gender': 2, 'id': 7167, 'name': 'Don Rickles', 'order': 2, 'profile_path': '/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg'}, {'cast_id': 17, 'character': 'Slinky Dog (voice)', 'credit_id': '52fe4284c3a36847f8024fa1', 'gender': 2, 'id': 12899, 'name': 'Jim Varney', 'order': 3, 'profile_path': '/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg'}, {'cast_id': 18, 'character': 'Rex (voice)', 'credit_id': '52fe4284c3a36847f8024fa5', 'gender': 2, 'id': 12900, 'name': 'Wallace Shawn', 'order': 4, 'profile_path': '/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg'}, {'cast_id': 19, 'character': 'Hamm (voice)', 'credit_id': '52fe4284c3a36847f8024fa9', 'gender': 2, 'id': 7907, 'name': 'John Ratzenberger', 'order': 5, 'profile_path': '/yGechiKWL6TJDfVE2KPSJYqdMsY.jpg'}, {'cast_id': 20, 'character': 'Bo Peep (voice)', 'credit_id': '52fe4284c3a36847f8024fad', 'gender': 1, 'id': 8873, 'name': 'Annie Potts', 'order': 6, 'profile_path': '/eryXT84RL41jHSJcMy4kS3u9y6w.jpg'}, {'cast_id': 26, 'character': 'Andy (voice)', 'credit_id': '52fe4284c3a36847f8024fc1', 'gender': 0, 'id': 1116442, 'name': 'John Morris', 'order': 7, 'profile_path': '/vYGyvK4LzeaUCoNSHtsuqJUY15M.jpg'}, {'cast_id': 22, 'character': 'Sid (voice)', 'credit_id': '52fe4284c3a36847f8024fb1', 'gender': 2, 'id': 12901, 'name': 'Erik von Detten', 'order': 8, 'profile_path': '/twnF1ZaJ1FUNUuo6xLXwcxjayBE.jpg'}, {'cast_id': 23, 'character': 'Mrs. Davis (voice)', 'credit_id': '52fe4284c3a36847f8024fb5', 'gender': 1, 'id': 12133, 'name': 'Laurie Metcalf', 'order': 9, 'profile_path': '/unMMIT60eoBM2sN2nyR7EZ2BvvD.jpg'}, {'cast_id': 24, 'character': 'Sergeant (voice)', 'credit_id': '52fe4284c3a36847f8024fb9', 'gender': 2, 'id': 8655, 'name': 'R. Lee Ermey', 'order': 10, 'profile_path': '/r8GBqFBjypLUP9VVqDqfZ7wYbSs.jpg'}, {'cast_id': 25, 'character': 'Hannah (voice)', 'credit_id': '52fe4284c3a36847f8024fbd', 'gender': 1, 'id': 12903, 'name': 'Sarah Freeman', 'order': 11, 'profile_path': None}, {'cast_id': 27, 'character': 'TV Announcer (voice)', 'credit_id': '52fe4284c3a36847f8024fc5', 'gender': 2, 'id': 37221, 'name': 'Penn Jillette', 'order': 12, 'profile_path': '/zmAaXUdx12NRsssgHbk1T31j2x9.jpg'}]
El campo cast anida  2632  diccionarios

Desanidar la información de las columnas

In [44]:
# convierto la información de las columnas anidadas de str a lista de diccionarios
data_credits['cast'] = data_credits['cast'].apply(ast.literal_eval)
data_credits['crew'] = data_credits['crew'].apply(ast.literal_eval)

In [45]:
# Función para extraer los actores. 

def extrae_cast(val):
    if len(val) > 0:
        cast_name = val[0].get('name')
    else:
        cast_name = None
    
    if len(val) > 1:
        cast_name_2 = val[1].get('name')
    else:
        cast_name_2 = None
    
    if len(val) > 2:
        cast_name_3 = val[2].get('name')
    else:
        cast_name_3 = None
    
    if len(val) > 3:
        cast_name_4 = val[3].get('name')
    else:
        cast_name_4 = None
    
    if len(val) > 4:
        cast_name_5 = val[4].get('name')
    else:
        cast_name_5 = None
    
    if len(val) > 5:
        cast_name_6 = val[5].get('name')
    else:
        cast_name_6 = None
    
    if len(val) > 6:
        cast_name_7 = val[6].get('name')
    else:
        cast_name_7 = None
    
    if len(val) > 7:
        cast_name_8 = val[7].get('name')
    else:
        cast_name_8 = None
    
    if len(val) > 8:
        cast_name_9 = val[8].get('name')
    else:
        cast_name_9 = None
    
    if len(val) > 9:
        cast_name_10 = val[9].get('name')
    else:
        cast_name_10 = None
    
    if len(val) > 10:
        cast_name_11 = val[10].get('name')
    else:
        cast_name_11 = None

    if len(val) > 11:
        cast_name_12 = val[11].get('name')
    else:
        cast_name_12 = None
    
    if len(val) > 12:
        cast_name_13 = val[12].get('name')
    else:
        cast_name_13 = None
 
    return pd.Series([cast_name,
                      cast_name_2,
                      cast_name_3,
                      cast_name_4,
                      cast_name_5,
                      cast_name_6,
                      cast_name_7,
                      cast_name_8,
                      cast_name_9,
                      cast_name_10,
                      cast_name_11,
                      cast_name_12,
                      cast_name_13])

data_credits[['cast_name',
            'cast_name_2',
            'cast_name_3',
            'cast_name_4',
            'cast_name_5',
            'cast_name_6',
            'cast_name_7',
            'cast_name_8',
            'cast_name_9',
            'cast_name_10',
            'cast_name_11',
            'cast_name_12',
            'cast_name_13']] = data_credits['cast'].apply(extrae_cast)  #aplico la funcion extraer los datos de cast

In [46]:
#Verifico que me halla quedado correctamente desanidada.
#No tengo valores nulos
data_credits.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45439 entries, 0 to 45475
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cast          45439 non-null  object
 1   crew          45439 non-null  object
 2   id            45439 non-null  int64
 3   cast_name     43025 non-null  object
 4   cast_name_2   41694 non-null  object
 5   cast_name_3   40785 non-null  object
 6   cast_name_4   39653 non-null  object
 7   cast_name_5   37181 non-null  object
 8   cast_name_6   34497 non-null  object
 9   cast_name_7   31806 non-null  object
 10  cast_name_8   29054 non-null  object
 11  cast_name_9   26288 non-null  object
 12  cast_name_10  23709 non-null  object
 13  cast_name_11  20906 non-null  object
 14  cast_name_12  18602 non-null  object
 15  cast_name_13  16545 non-null  object
dtypes: int64(1), object(15)
memory usage: 6.9+ MB

In [47]:
data_credits.head()

,cast,crew,id,cast_name,cast_name_2,cast_name_3,cast_name_4,cast_name_5,cast_name_6,cast_name_7,cast_name_8,cast_name_9,cast_name_10,cast_name_11,cast_name_12,cast_name_13
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,Tom Hanks,Tim Allen,Don Rickles,Jim Varney,Wallace Shawn,John Ratzenberger,Annie Potts,John Morris,Erik von Detten,Laurie Metcalf,R. Lee Ermey,Sarah Freeman,Penn Jillette
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,Robin Williams,Jonathan Hyde,Kirsten Dunst,Bradley Pierce,Bonnie Hunt,Bebe Neuwirth,David Alan Grier,Patricia Clarkson,Adam Hann-Byrd,Laura Bell Bundy,James Handy,Gillian Barber,Brandon Obray
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602,Walter Matthau,Jack Lemmon,Ann-Margret,Sophia Loren,Daryl Hannah,Burgess Meredith,Kevin Pollak,None,None,None,None,None,None
3,"[{'cast_id': 1, 'character': 'Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357,Whitney Houston,Angela Bassett,Loretta Devine,Lela Rochon,Gregory Hines,Dennis Haysbert,Michael Beach,Mykelti Williamson,Lamont Johnson,Wesley Snipes,None,None,None
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862,Steve Martin,Diane Keaton,Martin Short,Kimberly Williams-Paisley,George Newbern,Kieran Culkin,BD Wong,Peter Michael Goetz,Kate McGregor-Stewart,Jane Adams,Eugene Levy,Lori Alan,None

In [48]:
print('Valores nulos en la columna cast_name_1: ',data_credits['cast_name'].isnull().sum(), 'es decir el',(data_credits['cast_name'].isnull().sum() / len(data_credits['cast_name']))*100,'% de los datos son nulos')
print('Valores nulos en la columna cast_name_2: ',data_credits['cast_name_2'].isnull().sum(), 'es decir el',(data_credits['cast_name_2'].isnull().sum() / len(data_credits['cast_name']))*100,'% de los datos son nulos')
print('Valores nulos en la columna cast_name_3: ',data_credits['cast_name_3'].isnull().sum(), 'es decir el',(data_credits['cast_name_3'].isnull().sum() / len(data_credits['cast_name']))*100,'% de los datos son nulos')
print('Valores nulos en la columna cast_name_4: ',data_credits['cast_name_4'].isnull().sum(), 'es decir el',(data_credits['cast_name_4'].isnull().sum() / len(data_credits['cast_name']))*100,'% de los datos son nulos')
print('Valores nulos en la columna cast_name_5: ',data_credits['cast_name_5'].isnull().sum(), 'es decir el',(data_credits['cast_name_5'].isnull().sum() / len(data_credits['cast_name']))*100,'% de los datos son nulos')
print('Valores nulos en la columna cast_name_6: ',data_credits['cast_name_6'].isnull().sum(), 'es decir el',(data_credits['cast_name_6'].isnull().sum() / len(data_credits['cast_name']))*100,'% de los datos son nulos')
print('Valores nulos en la columna cast_name_7: ',data_credits['cast_name_7'].isnull().sum(), 'es decir el',(data_credits['cast_name_7'].isnull().sum() / len(data_credits['cast_name']))*100,'% de los datos son nulos')
print('Valores nulos en la columna cast_name_8: ',data_credits['cast_name_8'].isnull().sum(), 'es decir el',(data_credits['cast_name_8'].isnull().sum() / len(data_credits['cast_name']))*100,'% de los datos son nulos')
print('Valores nulos en la columna cast_name_9: ',data_credits['cast_name_9'].isnull().sum(), 'es decir el',(data_credits['cast_name_9'].isnull().sum() / len(data_credits['cast_name']))*100,'% de los datos son nulos')
print('Valores nulos en la columna cast_name_10: ',data_credits['cast_name_10'].isnull().sum(), 'es decir el',(data_credits['cast_name_10'].isnull().sum() / len(data_credits['cast_name']))*100,'% de los datos son nulos')
print('Valores nulos en la columna cast_name_11: ',data_credits['cast_name_11'].isnull().sum(), 'es decir el',(data_credits['cast_name_11'].isnull().sum() / len(data_credits['cast_name']))*100,'% de los datos son nulos')
print('Valores nulos en la columna cast_name_12: ',data_credits['cast_name_12'].isnull().sum(), 'es decir el',(data_credits['cast_name_12'].isnull().sum() / len(data_credits['cast_name']))*100,'% de los datos son nulos')
print('Valores nulos en la columna cast_name_13: ',data_credits['cast_name_13'].isnull().sum(), 'es decir el',(data_credits['cast_name_13'].isnull().sum() / len(data_credits['cast_name']))*100,'% de los datos son nulos')

Valores nulos en la columna cast_name_1:  2414 es decir el 5.3126169149849245 % de los datos son nulos
Valores nulos en la columna cast_name_2:  3745 es decir el 8.241818701996083 % de los datos son nulos
Valores nulos en la columna cast_name_3:  4654 es decir el 10.242302867580714 % de los datos son nulos
Valores nulos en la columna cast_name_4:  5786 es decir el 12.733554875767513 % de los datos son nulos
Valores nulos en la columna cast_name_5:  8258 es decir el 18.17381544488215 % de los datos son nulos
Valores nulos en la columna cast_name_6:  10942 es decir el 24.08063557736746 % de los datos son nulos
Valores nulos en la columna cast_name_7:  13633 es decir el 30.00286097845463 % de los datos son nulos
Valores nulos en la columna cast_name_8:  16385 es decir el 36.05933229164374 % de los datos son nulos
Valores nulos en la columna cast_name_9:  19151 es decir el 42.146614142036576 % de los datos son nulos
Valores nulos en la columna cast_name_10:  21730 es decir el 47.82235524549396 % de los datos son nulos
Valores nulos en la columna cast_name_11:  24533 es decir el 53.99106494421092 % de los datos son nulos
Valores nulos en la columna cast_name_12:  26837 es decir el 59.06159906688087 % de los datos son nulos
Valores nulos en la columna cast_name_13:  28894 es decir el 63.58854728317085 % de los datos son nulos

In [49]:
#Elimino la columna original y las columnas con maa del 50% de datos nulos
data_credits = data_credits.drop(axis=1,columns=['cast'])
data_credits = data_credits.drop(axis=1,columns=['cast_name_11'])
data_credits = data_credits.drop(axis=1,columns=['cast_name_12'])
data_credits = data_credits.drop(axis=1,columns=['cast_name_13'])

In [50]:
# Función para extraer los directores. 

def extrae_crew(val):
    if len(val) > 0:
        director = val[0].get('name')
    else:
        director = None
    
    return pd.Series([director])

data_credits[['director']] = data_credits['crew'].apply(extrae_crew)

In [51]:
print('Valores nulos en la columna director son: ',data_credits['director'].isnull().sum(), 'es decir el',(data_credits['director'].isnull().sum() / len(data_credits['crew']))*100,'% de los datos son nulos')

Valores nulos en la columna director son:  771 es decir el 1.696780298862211 % de los datos son nulos

In [52]:
#Elimino la columna original
data_credits = data_credits.drop(axis=1,columns=['crew'])

In [53]:
Lista_columnas2 =['cast_name',
                'cast_name_2',
                'cast_name_3',
                'cast_name_4',
                'cast_name_5',
                'cast_name_6',
                'cast_name_7',
                'cast_name_8',
                'cast_name_9',
                'cast_name_10',
                'director'] 


limpiar_nombres(data_credits, Lista_columnas2)

In [54]:
type(data_credits['id'][0])
type(data_movies['id'][0])

numpy.int64

# Exportar Archivos

Se exportan los archivos en formato parquet por su formato comprimido

In [57]:
# Exportar los DataFrames a archivos Parquet
data_credits.to_parquet('./Datasets/data_credits.parquet', engine='pyarrow')
data_movies.to_parquet('./Datasets/data_movies.parquet', engine='pyarrow')